###IMPORT pandas, numpy, seaborn

In [1]:
import numpy as np

import pandas as pd

%pylab inline
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

###GET DATA FROM CSV

In [3]:
url_bike_set = 'https://raw.githubusercontent.com/1AGZ1/PracticePython/main/lab2/data/BIKE_DETAILS.csv'

bike_set = pd.read_csv(url_bike_set)

######Print data set

In [4]:
bike_set

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0